# Исследование надежности заемщиков

Во второй части проекта вы выполните шаги 3 и 4. Их вручную проверит ревьюер.
Чтобы вам не пришлось писать код заново для шагов 1 и 2, мы добавили авторские решения в ячейки с кодом.

## Откройте таблицу и изучите общую информацию о данных

**Задание 1. Импортируйте библиотеку pandas. Считайте данные из csv-файла в датафрейм и сохраните в переменную `data`. Путь к файлу:**

`/datasets/data.csv`

In [1]:
import pandas as pd

try:
    data = pd.read_csv('/datasets/data.csv')
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

**Задание 2. Выведите первые 20 строчек датафрейма `data` на экран.**

In [2]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

**Задание 3. Выведите основную информацию о датафрейме с помощью метода `info()`.**

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

**Задание 4. Выведите количество пропущенных значений для каждого столбца. Используйте комбинацию двух методов.**

In [4]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

**Задание 5. В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце вы обработаете на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.**

In [5]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Обработка аномальных значений

**Задание 6. В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Для реальных данных это нормально. Обработайте значения в этом столбце: замените все отрицательные значения положительными с помощью метода `abs()`.**

In [6]:
data['days_employed'] = data['days_employed'].abs()

**Задание 7. Для каждого типа занятости выведите медианное значение трудового стажа `days_employed` в днях.**

In [7]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть. Тем более этот столбец не понадобится вам для исследования.

**Задание 8. Выведите перечень уникальных значений столбца `children`.**

In [8]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5], dtype=int64)

**Задание 9. В столбце `children` есть два аномальных значения. Удалите строки, в которых встречаются такие аномальные значения из датафрейма `data`.**

In [9]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

**Задание 10. Ещё раз выведите перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.**

In [10]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5], dtype=int64)

### Удаление пропусков (продолжение)

**Задание 11. Заполните пропуски в столбце `days_employed` медианными значениями по каждого типа занятости `income_type`.**

In [11]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

**Задание 12. Убедитесь, что все пропуски заполнены. Проверьте себя и ещё раз выведите количество пропущенных значений для каждого столбца с помощью двух методов.**

In [12]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

**Задание 13. Замените вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.**

In [13]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

**Задание 14. Обработайте неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведите их к нижнему регистру. Проверьте остальные столбцы.**

In [14]:
data['education'] = data['education'].str.lower()

**Задание 15. Выведите на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалите их.**

In [15]:
data.duplicated().sum()

71

In [16]:
data = data.drop_duplicates()

### Категоризация данных

**Задание 16. На основании диапазонов, указанных ниже, создайте в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


**Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используйте собственную функцию с именем `categorize_income()` и метод `apply()`.**

In [17]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [18]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

**Задание 17. Выведите на экран перечень уникальных целей взятия кредита из столбца `purpose`.**

In [19]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Задание 18. Создайте функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**

**Используйте собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучите данные в столбце `purpose` и определите, какие подстроки помогут вам правильно определить категорию.**

In [20]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [21]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

### Шаг 3. Исследуйте данные и ответьте на вопросы

#### 3.1 Есть ли зависимость между количеством детей и возвратом кредита в срок?

Для анализа зависимости нам понадобятся 2 столбца: children, debt.
Аномальные данные столбца children мы уже обработали.
Необходимо проверить содержимое столбца debt.

In [22]:
#Проверим уникальные значения столбца.
data['debt'].unique()

array([0, 1], dtype=int64)

В столбце debt присутствуют значения только 0 и 1, что говорит о корректности данных. Теперь сгруппируем данные по признаку children и просуммируем количество задолженности по каждому из признаков.

In [23]:
debitors_by_children = data.groupby('children')['debt'].sum()
debitors_by_children

children
0    1063
1     444
2     194
3      27
4       4
5       0
Name: debt, dtype: int64

**Вывод 1: из полученной таблицы видно, что с увеличением количества детей в семье, количество задолженностей сокращается. Однако на этот вывод нельзя положиться.  
С демографической точки зрения логично, что представителей группы "бездетные" будет больше всего, а клиенты с семьей окажутся в меньшинстве пропорционально количеству детей в ней. Соответственно и числа должников будут больше у той группы клиентов, что широко распространена.**

Рассмотрим относительные числа должников.

In [24]:
#найдем общее количество клиентов сгруппированных по количеству детей в семье
clients_by_children = data.groupby('children')['children'].count()

#найдем соотношение количества должников к каждой группе клиентов
debitors_proportion_by_children = debitors_by_children / clients_by_children

#выведем полученные данные экран
for i,v in debitors_proportion_by_children.items():
    print(f'Количество детей в семье - {i}, процент должников {v * 100:.2f}%')

Количество детей в семье - 0, процент должников 7.54%
Количество детей в семье - 1, процент должников 9.23%
Количество детей в семье - 2, процент должников 9.45%
Количество детей в семье - 3, процент должников 8.18%
Количество детей в семье - 4, процент должников 9.76%
Количество детей в семье - 5, процент должников 0.00%

**Вывод 2: среди всех групп меньше всего должников в группе бездетных клиентов и семьях с 5 детьми. Однако, количество клиентов в нашем датафрейме с 5 детьми крайне мало, чтобы по ним можно было сделать вывод о платежоспособности данной группы. Поэтому в вывод включим следующее: на основе полученных нами данных можно сказать, что зависимость между количеством детей и возвратом кредита в срок присутствует и вероятность появления задолженности меньше всего у бездетных клиентов.**

#### 3.2 Есть ли зависимость между семейным положением и возвратом кредита в срок?

Для анализа нампонадобятся три столбца: family_status, debt, gender. 
  
Мы можем углубить анализ, рассмотрев должников в разрезе сразу двух факторов: пола клиента и их семейного статуса. Поскольку положение мужчины и женщины в обществах одной и другой страны может отличаться, что объясняется социокультурным укладом страны.  

Начнём с проверки данных. Для начала проверим 'family_status'

In [25]:
#найдем уникальные значения столбца 'family_status'
data['family_status'].unique()

array(['женат / замужем', 'гражданский брак', 'вдовец / вдова',
       'в разводе', 'Не женат / не замужем'], dtype=object)

Данные 'family_status' корректны. Проверим значения столбца 'gender'.

In [26]:
#найдем уникальные значения столбца 'gender'
data['gender'].unique()

array(['F', 'M', 'XNA'], dtype=object)

Среди значений столбца 'gender' присутствует значение 'XNA', что является некорректным. К сожалению данных, которые могли бы косвенно указать на пол клиента отсутствуют. В таком случае попробуем подсчитать количество таких строк и избавиться от них, если это возможно.

In [27]:
#выведем строки с неверными значениями
data[data['gender'] == 'XNA']

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,total_income_category,purpose_category
10701,0,2358.600502,24,неоконченное высшее,2,гражданский брак,1,XNA,компаньон,0,203905,покупка недвижимости,B,операции с недвижимостью

Строк с неправильно указанным полом оказалось всего в количестве одной. Удаление такой строки не окажет значительного влияния на выводы.

In [28]:
#отфильтруем датафрейм, убрав из него строку
data = data[data['gender'] != 'XNA']

Данные корректны. Теперь посчитаем соотношение должников по семейному статусу

In [29]:
#разделим общее количество должников на общее количество клиентов
debitors_proportion_by_family_status = data.groupby('family_status')['debt'].sum() / data.groupby('family_status')['family_status'].count()

#выведем полученные данные экран
for i,v in debitors_proportion_by_family_status.items():
    print(f'Статус: {i}. Процент должников {v * 100:.2f}%')

Статус: Не женат / не замужем. Процент должников 9.76%
Статус: в разводе. Процент должников 7.06%
Статус: вдовец / вдова. Процент должников 6.62%
Статус: гражданский брак. Процент должников 9.32%
Статус: женат / замужем. Процент должников 7.56%

**Вывод 1: меньше всего должников в трех группах: клиенты в разводе, вдовцы или вдовы, и супруги.  
Углубимся и рассмотрим эти группы в разрезе пола должника и ответим на вопрос: равномерно ли распределны долги внутри групп по полу?**

Для наглядности данных воспользуемся сводными таблицами для проверки должников в разрезах пола и семейного статуса.

In [30]:
#найдем количество должников среди мужчин и женщин отдельно в каждой семейной группе
pivot_debt = data.pivot_table('debt', index='gender', columns='family_status', aggfunc='sum')

#найдем количество клиентов среди мужчин и женщин отдельно в каждой семейной группе
pivot_total = data.pivot_table('debt', index='gender', columns='family_status', aggfunc='count')

#выведем соотношение должников мужчин и женщин отдельно в каждой семейной группе
round(pivot_debt / pivot_total * 100, 2)

family_status,Не женат / не замужем,в разводе,вдовец / вдова,гражданский брак,женат / замужем
gender,,,,,
F,6.85,6.55,5.8,8.19,6.82
M,14.45,8.91,20.0,11.76,8.81

**Вывод 2: долговые обязательства среди мужчин и женщины распределены неравномерно. Во всех группах большее количество должников среди мужского пола, что говорит о более высоких долговых рисках в отношении них.**

#### 3.3 Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

Для анализа нам пригодятся столбцы total_income_category, debt. Данные ранее были проверены.

In [31]:
#найдем количество должников по группам дохода
debt_income_category = data.groupby('total_income_category')['debt'].sum()

#найдем количество клиентов по группам дохода
clients_income_category = data.groupby('total_income_category')['total_income_category'].count()

#найде соотношение должников
debt_income_category_prop = debt_income_category / clients_income_category

#выведем полученные данные экран
for i,v in debt_income_category_prop.items():
    print(f'Категория дохода - {i}, процент должников {v * 100:.2f}%')
    
clients_income_category

Категория дохода - A, процент должников 8.00%
Категория дохода - B, процент должников 7.06%
Категория дохода - C, процент должников 8.50%
Категория дохода - D, процент должников 6.02%
Категория дохода - E, процент должников 9.09%

total_income_category
A       25
B     5013
C    15921
D      349
E       22
Name: total_income_category, dtype: int64

**Вывод:в категориях A и E довольно высокий процент должников, однако количество клиентов данных групп всего 20+, что является весьма небольшим количеством в выборке и выводы по задолженностям данных групп могут быть ошибочны. Их не стоит принимать во внимание.  
Из оставшихся трех групп наименьшей задолженностью обладается группа с доходностью D.**

#### 3.4 Как разные цели кредита влияют на его возврат в срок?

Все цели кредиты мы разбили на несколько категорий и записали в колонке 'purpose_category' с которой и будем работать.

In [32]:
#найдем количество должников по целям кредита
debt_purpose_category = data.groupby('purpose_category')['debt'].sum()

#найдем количество клиентов по целям кредита
clients_purpose_category = data.groupby('purpose_category')['purpose_category'].count()

#найдем соотношение должников
debt_purpose_category_prop = debt_purpose_category / clients_purpose_category

#выведем полученные данные экран
for i,v in debt_purpose_category_prop.items():
    print(f'Категория дохода - {i}, процент должников {v * 100:.2f}%')

Категория дохода - операции с автомобилем, процент должников 9.35%
Категория дохода - операции с недвижимостью, процент должников 7.26%
Категория дохода - получение образования, процент должников 9.25%
Категория дохода - проведение свадьбы, процент должников 7.91%

**Вывод: охотнее всего выплачивают кредит группы клиентов, чьи займы уходят на свадьбу или покупку недвижимости. БОльшие риски неоплаты несут займы на авто и образование.**

#### 3.5 Приведите возможные причины появления пропусков в исходных данных.

*Ответ: причины искажения данных могут быть следствием человеческого фактора или технического. Например, отрицательные числа в большом количестве могут говорить о том, что они записываются так программой, поскольку вероятность того что именно человек будет вносить данные со знаком минус мала.   
В том время как разный регистр в написании может быть вполне допущен человеком при внесении данных, хотя и не исключает версии ошибки с технической стороны.  
Пропуски значений также могут быть следствием того, что сотрудник при занесении данных не знал необходимых сведений или клиент намеренно не заполнил поле ввода, а может это вовсе БД, которые не поддерживает указанный клиентом тип данных и не сохранил результат?*

#### 3.6 Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.

*Ответ: медианное значение менее зависимо от выбросов в данных в отличие от средней, которая может сильно сместиться.  
Один из студентов нашего потока интересовался ещё применением моды для заполнения пропуска, но такой метод имеет минусы, например, данные обязательно должны содержать хотя бы одно повторяющееся значения, чтобы моду можно было применить. Интуиция так же подсказывается что данные должны иметь множество повторяющихся значений, иначе мода просто будет непоказательным значением.*

### Шаг 4: общий вывод.

Исследовав данные можно сделать следующий общий вывод, что наилучшим с точки зрения вероятности возникновения задолженности клиентом по кредиту является клиент со следующим портретом:
1. женщина
2. без детей
3. в браке или после брака
4. уровень дохода 30001–50000 у.е.
5. кредит с целью ипотеки или свадьбы

In [33]:
#просеем на основе полученных критериев датафрейм по самым низким рискам
best_client = data[data['gender'] == 'F']
best_client = best_client[data['children'] == 0]
best_client = best_client[data['family_status'] == 'в разводе']
best_client = best_client[data['total_income_category'] == 'D']
best_client = best_client[data['purpose_category'] == 'операции с недвижимостью']
best_client

C:\Users\79991\AppData\Local\Temp\ipykernel_15916\3539442456.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  best_client = best_client[data['children'] == 0]
C:\Users\79991\AppData\Local\Temp\ipykernel_15916\3539442456.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  best_client = best_client[data['family_status'] == 'в разводе']
C:\Users\79991\AppData\Local\Temp\ipykernel_15916\3539442456.py:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  best_client = best_client[data['total_income_category'] == 'D']
C:\Users\79991\AppData\Local\Temp\ipykernel_15916\3539442456.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  best_client = best_client[data['purpose_category'] == 'операции с недвижимостью']

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,total_income_category,purpose_category
4467,0,395420.485663,50,среднее,1,в разводе,3,F,пенсионер,0,42218,жилье,D,операции с недвижимостью
8093,0,346622.215355,54,среднее,1,в разводе,3,F,пенсионер,0,34312,покупка коммерческой недвижимости,D,операции с недвижимостью
12948,0,341781.253706,60,среднее,1,в разводе,3,F,пенсионер,0,42819,покупка жилья для сдачи,D,операции с недвижимостью
14274,0,354720.136289,67,среднее,1,в разводе,3,F,пенсионер,0,33767,покупка жилья,D,операции с недвижимостью
18682,0,362723.933052,49,среднее,1,в разводе,3,F,пенсионер,0,42782,операции с коммерческой недвижимостью,D,операции с недвижимостью

Один из портретов такого клиента: незамужняя пенсионерка со средним образованием без детей, покупающая жилье.

Уточнение: фильтрация по критерию вдовства проигнорирована, не смотря на более низкие риски, в целях расширениях выборки.

Портрет клиента с высокими рисками задолженности обладает следующими чертами:
1. мужчина
2. с детьми
3. не женатый
4. с доходом 50001–200000
5. кредит с целью покупки авто или прохождения образования

In [35]:
#просеем на основе полученных критериев датафрейм по самым высоким рискам
worst_client = data[data['gender'] == 'F']
worst_client = worst_client[data['children'] == 2]
worst_client = worst_client[data['family_status'] == 'Не женат / не замужем']
worst_client = worst_client[data['total_income_category'] == 'C']
worst_client = worst_client[data['purpose_category'] == 'операции с автомобилем']
worst_client

C:\Users\79991\AppData\Local\Temp\ipykernel_15916\970313996.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  worst_client = worst_client[data['children'] == 2]
C:\Users\79991\AppData\Local\Temp\ipykernel_15916\970313996.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  worst_client = worst_client[data['family_status'] == 'Не женат / не замужем']
C:\Users\79991\AppData\Local\Temp\ipykernel_15916\970313996.py:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  worst_client = worst_client[data['total_income_category'] == 'C']
C:\Users\79991\AppData\Local\Temp\ipykernel_15916\970313996.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  worst_client = worst_client[data['purpose_category'] == 'операции с автомобилем']

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,total_income_category,purpose_category
341,2,211.332106,33,среднее,1,Не женат / не замужем,4,F,сотрудник,0,98522,сделка с автомобилем,C,операции с автомобилем
1561,2,1572.328285,43,среднее,1,Не женат / не замужем,4,F,сотрудник,0,142594,автомобиль,C,операции с автомобилем
2934,2,1169.141954,40,среднее,1,Не женат / не замужем,4,F,сотрудник,0,98616,на покупку подержанного автомобиля,C,операции с автомобилем
4698,2,1977.445600,42,начальное,3,Не женат / не замужем,4,F,сотрудник,1,115973,на покупку своего автомобиля,C,операции с автомобилем
4850,2,1040.092955,37,среднее,1,Не женат / не замужем,4,F,госслужащий,0,79888,на покупку автомобиля,C,операции с автомобилем
4869,2,327.565107,27,высшее,0,Не женат / не замужем,4,F,сотрудник,0,125955,сделка с автомобилем,C,операции с автомобилем
5405,2,1791.374445,30,высшее,0,Не женат / не замужем,4,F,компаньон,0,186770,на покупку своего автомобиля,C,операции с автомобилем
6481,2,1555.947387,47,высшее,0,Не женат / не замужем,4,F,компаньон,0,172357,на покупку автомобиля,C,операции с автомобилем
7481,2,1593.158977,39,среднее,1,Не женат / не замужем,4,F,госслужащий,0,139304,на покупку подержанного автомобиля,C,операции с автомобилем
9786,2,489.732166,26,среднее,1,Не женат / не замужем,4,F,сотрудник,0,193198,автомобиль,C,операции с автомобилем
14020,2,5249.240290,35,среднее,1,Не женат / не замужем,4,F,сотрудник,1,189728,приобретение автомобиля,C,операции с автомобилем
20204,2,355760.801975,57,среднее,1,Не женат / не замужем,4,F,пенсионер,0,138880,сделка с подержанным автомобилем,C,операции с автомобилем
20449,2,113.210908,38,среднее,1,Не женат / не замужем,4,F,сотрудник,0,109865,свой автомобиль,C,операции с автомобилем

Портрет высокорискового клиента неоднороден как в случае с пенсионеркой.